/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/Heart\ Attack.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 80% center; 
    background-attachment: fixed; 
    color: #333;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for Form */
.container {
    background-color: rgba(255, 255, 255, 0.6); /* White background with 80% opacity */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

/* Heading */
h1 {
    text-align: center;
    color: #007bff; /* Blue color */
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Label Styles */
label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input and Select Styles */
input[type="text"], select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd; /* Light border color */
    border-radius: 4px;
}

/* Submit Button Styles */
input[type="submit"] {
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Result Text Styles */
h2 {
    text-align: center;
}
